<%- include('../../partials/header.ejs') %>

    <div class="container my-container">
        <div class="jumbotron">
            <h1 class="display-4">Signup Page</h1>
            <p class="lead">Don't have a account please signup</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, numquam nisi natus esse temporibus
                iusto odio saepe perspiciatis, delectus eum velit nulla perferendis ratione fugit error id nesciunt
                praesentium obcaecati.</p>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>
        </body>

        </html>