<%- include('../../partials/header.ejs') %>

<div class="container my-container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="display-1">Welcome to dashboard</h1>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>

</body>

</html>